<ngb-pagination 
    *ngIf="historyItems.length > 0"
    [(page)]="page" 
    [pageSize]="pageSize" 
    [maxSize]="5" 
    [rotate]="true" 
    [collectionSize]="historyItems.length">
</ngb-pagination>
<div class="table-responsive">
    <table class="table table-striped shadow">
        <thead class="table-light">
            <tr>
                <th>Searched Item</th>
                <th>Date/Time</th>
                <th>Number of Results</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of historyItems | slice: (page-1) * pageSize : page * pageSize">
                <td>{{ item.searchString }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.results }}</td>
            </tr>
        </tbody>
    </table>
    <btn routerLink="/" class="btn btn-primary">Return To Search</btn>
</div>
